---
layout: default
---

  <article>
    <div class="bio-layout">
      {% if page.profile %}
        <div class="profile-container">
          <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if page.profile.image %}
              {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
              {% if page.profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1
          rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
          30vw, 95vw"{% endcapture %}
              {%
                include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
                cache_bust=true
              %}
            {% endif %}
            {% if page.profile.more_info %}
              <div class="more-info">{{ page.profile.more_info }}</div>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <div class="bio-text-only soft">{{ content }}</div>
    </div>
    
    <!-- Contact section -->
    <div class="contact-section-wrapper">
      <h2>Get in Touch</h2>
      <p>I'm always happy to connect (or re-connect)! Feel free to reach out:</p>
      
      <div class="contact-section">
        <div class="contact-item">
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:john@schrom.org">john@schrom.org</a>
        </div>
        <div class="contact-item">
          <i class="fa-solid fa-phone"></i>
          <a href="tel:415-758-3232">415-758-3232</a>
        </div>
      </div>
    </div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
    <hr>
      <h2>
        News
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
    <hr>
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
    <hr>
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
